@font-face {
font-family: 'allfonts';
src: url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0000font/Yozai-Bold.ttf);
}
body,
yt-live-chat-ticker-renderer,
yt-live-chat-renderer,
#item-scroller,
#author-name{
overflow:hidden !important;
background: transparent !important;
}
yt-live-chat-ticker-renderer{
display:none;
}
/* 通用设置 */
yt-live-chat-renderer *{
box-shadow:none !important;
color:#7A6244 !important;
font-family: 'allfonts';
font-size:18pt;
line-height:18pt;
}
yt-live-chat-text-message-renderer,
yt-live-chat-membership-item-renderer,
yt-live-chat-paid-message-renderer{
animation-name: slideInLeft;
animation-duration:0.7s;
animation-fill-mode: both;
}
@keyframes slideInLeft {
0% {
transform: translateY(100%);
visibility: visible;
}
100% {
transform: translateY(0);
}
} 
yt-live-chat-membership-item-renderer *,
yt-live-chat-paid-message-renderer *{
background-color: transparent !important;
}
yt-live-chat-text-message-renderer{
margin:20px;
overflow:visible !important;
}
yt-live-chat-text-message-renderer #author-name{
font-size:12pt;
}
#medal-name{
display:none;
}
#medal-card,
#medal-level{
border:none !important;
background:transparent !important;
position:relative;
top:-2px;
}
#medal-level::before{
content:"lv.";
}
#chat-badges{
margin-top:-5px;
}
#timestamp{
display:inline !important;
font-size:10pt;
margin-top:5px !important;
}
yt-live-chat-text-message-renderer #author-photo img,
yt-live-chat-text-message-renderer #author-photo{
width:40px !important;
height:40px !important;
border-radius:5px !important;
}
yt-live-chat-text-message-renderer #author-photo{
position:absolute;
right:5px;
top:10px;
}
yt-live-chat-text-message-renderer #image-and-message::after{
content:"";
width:30px;
height:10px;
background:url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/weiba%404x.png) no-repeat;
background-size:contain;
position:absolute;
margin:10px 0px;
}
/* 普通 */
yt-live-chat-text-message-renderer[author-type=""]{
border-image-slice:26 33 26 45 fill;
border-image-width:20px 20px 20px 20px;
border-image-repeat:repeat stretch;
border-image-source:url("https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/passerby.png");
border-style:solid;
min-height:45px;
}
yt-live-chat-text-message-renderer[author-type=""]::before{
content:"";
width:160px;
height:40px;
background:url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/youchuo%404x.png) no-repeat;
background-size:contain;
position:absolute;
left:-20px;
}
yt-live-chat-text-message-renderer[author-type=""]::after{
content:"To my Dear";
position:absolute;
right:20px;
bottom:10px;
font-size:10pt;
}
yt-live-chat-text-message-renderer[author-type=""] #content{
margin:5px 50px 10px 50px;
}
yt-live-chat-text-message-renderer[author-type=""] #content::after{
content:"";
width:30px;
height:10px;
background:url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/weiba%404x.png) no-repeat;
background-size:contain;
margin-left:5px;
}
yt-live-chat-text-message-renderer[author-type=""] #author-name::before{
content:"from ";
}
/* 不普通 */
yt-live-chat-text-message-renderer:not([author-type=""]){
border-image-slice:45 42 51 42 fill;
border-image-width:20px 20px 20px 20px;
border-image-outset:0px 0px 0px 0px;
border-image-repeat:stretch stretch;
border-image-source:url("https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/p1.png");
border-style:solid;
min-height:80px;
}
yt-live-chat-text-message-renderer:not([author-type=""])::before{
content:"";
width:50px;
height:40px;
background:url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/flowerleft.png) no-repeat;
background-size:contain;
position:absolute;
left:-20px;
bottom:0;
}
yt-live-chat-text-message-renderer:not([author-type=""])::after{
content:"";
width:60px;
height:60px;
background:url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/flowerright.png) no-repeat;
background-size:contain;
position:absolute;
right:-20px;
bottom:0;
}
yt-live-chat-text-message-renderer:not([author-type=""]) #card::before{
content:"";
width:80px;
height:40px;
background:url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/heartmiddle.png) no-repeat;
background-size:contain;
position:absolute;
left:50%;
bottom:-20px;
transform:translatex(-50%);
}
yt-live-chat-text-message-renderer:not([author-type=""]) yt-live-chat-author-chip{
position:absolute;
right:10px;
bottom:20px;
z-index:11111111111111111111;
}
yt-live-chat-text-message-renderer:not([author-type=""]) #content::before{
content:"My Dear,";
font-size:10pt;
}
yt-live-chat-text-message-renderer:not([author-type=""]) #author-name::before{
content:"Yours, ";
font-size:10pt;
}
yt-live-chat-text-message-renderer:not([author-type=""]) #content{
margin:0px 50px 40px 0px;
}
/* 免费的 */
yt-live-chat-paid-message-renderer[price-level="0"] *{
display:inline !important;
}
yt-live-chat-paid-message-renderer[price-level="0"] #author-photo img,
yt-live-chat-paid-message-renderer[price-level="0"] #author-photo{
display:none !important;
}
yt-live-chat-paid-message-renderer[price-level="0"]{
border-image-slice:33 39 33 66 fill;
border-image-width:20px 20px 20px 20px;
border-image-outset:0px 0px 0px 0px;
border-image-repeat:stretch stretch;
border-image-source:url("https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/free.png");
border-style:solid;
margin:20px;
height:40px;
}
yt-live-chat-paid-message-renderer[price-level="0"] #header-content{
position:relative;
top:9px;
left:50px;
}
yt-live-chat-paid-message-renderer[price-level="0"]::before{
content:"";
width:160px;
height:40px;
background:url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/youchuo%404x.png) no-repeat;
background-size:contain;
position:absolute;
left:-20px;
}
yt-live-chat-membership-item-renderer #timestamp,
yt-live-chat-paid-message-renderer #timestamp{
display:none !important;
}
/* 付费的 */
yt-live-chat-paid-message-renderer:not([price-level="0"]){
border-image-slice:
26 30 23 30 fill;
border-image-width:
20px 20px 20px 20px;
border-image-outset:
0px 0px 0px 0px;
border-image-repeat:
stretch stretch;
border-image-source:
url("https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/gift_1.png");
border-style:
solid;
margin:20px 10px;
position:relative;
}
yt-live-chat-paid-message-renderer:not([price-level="0"]) #header{
position:static !important;
}
yt-live-chat-paid-message-renderer:not([price-level="0"]) #author-photo{
position:absolute;
bottom:0;
left:50%;
transform:translatex(-50%);
}
yt-live-chat-paid-message-renderer:not([price-level="0"]) #author-name{
position:absolute;
bottom:10px;
left:20px;
font-size:13pt !important;
}
yt-live-chat-paid-message-renderer:not([price-level="0"]) #author-name::before{
content:"from ";
}
yt-live-chat-paid-message-renderer:not([price-level="0"]) #purchase-amount{
position:absolute;
bottom:10px;
right:40px;
}
yt-live-chat-paid-message-renderer:not([price-level="0"]) #content{
margin:-20px 0px 60px 0px;
display:flex !important;
justify-content:center !important;
}
/* 上船的 */
yt-live-chat-membership-item-renderer{
background:url(https://cyan2-1309337520.cos.ap-guangzhou.myqcloud.com/0002forsale/1129flower%26letters/picture/aboard.png) no-repeat;
background-size:contain;
background-position:40% !important;
height:150px;
position:relative;
display:flex !important;
justify-content:center !important;
}
yt-live-chat-membership-item-renderer #card,
yt-live-chat-membership-item-renderer #header{
position:static !important;
display:flex !important;
justify-content:center !important;
overflow:visible !important;
}
yt-live-chat-membership-item-renderer #author-photo{
position:absolute;
bottom:0;
left:50%;
transform:translatex(-50%);
}
yt-live-chat-membership-item-renderer yt-live-chat-author-chip{
position:relative;
top:-40px;
background:#7A6244 !important;
padding:0px 20px;
border-radius:20px !important;
overflow:visible !important;
}
yt-live-chat-membership-item-renderer #author-name{
color:white !important;
}
#header-subtext{
display:none;
}
yt-live-chat-membership-item-renderer yt-live-chat-author-chip::after{
content:"开通了大航海";
position:absolute;
width:280px;
top:45px;
left:50%;
transform:translatex(-50%);
font-size:35pt;
}